.sidebar {
    width: 250px;
    background-color: #446f79;
    color: white;
    padding: 20px;
    flex-shrink: 0;
    overflow-y: auto;
}
.sidebar h2{
    margin-bottom: 20px;
    font-size: 24px;
    text-align: center;
    color: white;
}

.sidebar ul{
    list-style: none;
    padding: 0;
    margin-top: 30px;
}

.sidebar li{
    padding: 12px 15px;
    margin-bottom: 8px;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    background-color: #34515a;
}

.sidebar li:hover{
    background-color: #56738c;
}