/* Dashboard.css */

.dashboard {
  font-family: Arial, sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Top taskbar */
.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 24px;
  background-color: #dfdbdb;
  border-bottom: 1px solid #ccc;
}

.profile-icon {
  font-size: 24px;
}

.logout-btn {
  padding: 8px 16px;
  cursor: pointer;
}

/* Layout for sidebar and main area */
.content-layout {
  display: flex;
  flex: 1;
}

/* Sidebar */
.sidebar {
  width: 200px;
  background-color: #f7f4f4;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 16px;
  border-right: 1px solid #e9e6e6;
}

.menu-item {
  padding: 10px;
  margin-bottom: 10px;
  background: rgb(135, 174, 184);
  border: 1px solid #8dc6dd;
  cursor: pointer;
  text-align: left;
}

.menu-item:hover {
  background-color: #f0f0f0;
}

/* Main content */
.main-content {
  flex: 1;
  padding: 24px;
}
